
th.chordname{
  width: calc(var(--main-width) * 0.14);
}
th.chordcount{
  width: calc(var(--main-width) * 0.07);
}
th.chordopen{
  width: calc(var(--main-width) * 0.1);
}
th.chordno{
  width: calc(var(--main-width) * 0.07);
}
th.chordtones{
  width: calc(var(--main-width) * 0.32);
}

td{
  width: calc(var(--main-width) * 0.08);
}
td.chordroot{
  text-align: right;
  width: calc(var(--main-width) * 0.07);
}
td.chordname{
  text-align: left;
  width: calc(var(--main-width) * 0.07);
}
