:root {
  --main-width: 90vw;
  --inTone-bordercolor: rgb(13, 13, 84);
  --outTone-bordercolor: rgb(71, 0, 0);
}

/* 最大幅 */
@media (min-width: 1110px){
  :root {
    --main-width: 999px;
  }
}

html{
  overflow-y: scroll;
}

body{
  width: var(--main-width);
  margin: 0 auto;
  font-size: calc(var(--main-width) * 0.018);
  text-align: center;
}

h1{
  text-align: center;
  font-size: calc(var(--main-width) * 0.04);
}

/* フォント設定 */
label, td{
  font-family: 'Kosugi Maru', sans-serif;
}

/* 入力エリア設定 ここから */
fieldset{
  width: calc(98% - 2px);
  border: calc(var(--main-width) * 0.001) solid;
  padding-left: 1%;
  padding-right: 1%;
  margin: 2% 0 1%;
  vertical-align: middle;
}

legend{
  font-size: calc(var(--main-width) * 0.02);
  font-weight: bold;
}

/* 行の高さ設定 */
.inputRow{
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
  margin: 0.5% auto;
}

/* チェックボックスまわりの設定 ここから */

/* チェックボックス非表示 */
.inputRow input[type=checkbox]{
  display: none;
}

/* ラベルの共通書式設定 */
.inputRow label {
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
  float: left; /* 要素の左寄せ・回り込み */
  margin: calc(var(--main-width) * 0.002); /* ラベル外側の余白 */
  width: 8%; /* ラベルの横幅 */
  height: calc(var(--main-width) * 0.05); /* ラベルの高さ */
  text-align: center; /* テキストのセンタリング */
  font-size: calc(var(--main-width) * 0.025);
}
.inputRow label.oct{
  line-height: calc(var(--main-width) * 0.05); /* 行の高さ */
}
.inputRow label.onKey{
  cursor: pointer; /* マウスカーソルの形（リンクカーソル） */
  border-radius: calc(var(--main-width) * 0.005); /* 角丸 */
}

/* 黒鍵or白鍵 音域内外 で色を変える */
.inputRow label.blackTone{
  color: rgb(255, 255, 255);
}
.inputRow label.whiteTone{
  color: rgb(0, 0, 0);
}
.inputRow label.outTone.whiteTone{  /* 範囲外・白 */
  background-color: rgb(160, 150, 150);
  border: calc(var(--main-width) * 0.001) solid var(--outTone-bordercolor);
}
.inputRow label.outTone.blackTone{  /* 範囲外・黒 */
  background-color: rgb(106, 96, 96);
  border: calc(var(--main-width) * 0.001) solid var(--outTone-bordercolor);
}
.inputRow label.inTone.whiteTone{  /* 範囲内・白 */
  background-color: rgb(255, 255, 255);
  border: calc(var(--main-width) * 0.001) solid var(--inTone-bordercolor);
}
.inputRow label.inTone.blackTone{  /* 範囲内・黒 */
  background-color: rgb(33, 36, 40);
  border: calc(var(--main-width) * 0.001) solid var(--inTone-bordercolor);
}

/* 選択されてるときの挙動 */
.inputRow input[type=checkbox]:checked + label{
  background-color: rgb(255, 255, 128); /* ON時の背景色 */
  color: rgb(0, 0, 0);  /* ON時の文字色 */
}

/* マウスON時の挙動 */
.inputRow label.onKey:hover {
  background-color: #E2EDF9; /* マウスオーバー時の背景色 */
  color: rgb(0, 0, 0);
}
/* チェックボックスまわりの設定 ここまで */

/* 臨時記号まわりの設定 ここから */
#acciarea label{
  font-size: calc(var(--main-width) * 0.025);
}

#acciarea input[type=radio]{
  width: calc(var(--main-width) * 0.020);
  height: calc(var(--main-width) * 0.020);
}

select, button{
  font-size: calc(var(--main-width) * 0.018);
  margin: auto calc(var(--main-width) * 0.01);
}
/* 調号まわりの設定 ここまで */

/* テーブルまわりの設定 ここから */

/* タイトル */
caption{
  font-size: calc(var(--main-width) * 0.025);
  font-weight: bold;
  margin: calc(var(--main-width) * 0.02) auto calc(var(--main-width) * 0.005);
}

/* 本体 */
table{
  text-align: center;
  font-size: calc(var(--main-width) * 0.02);
  margin: auto;
}

/* 行 */
tr{
  outline: rgb(3, 175, 122) solid calc(var(--main-width) * 0.001);
}

/* ます */
th, td{
  padding: calc(var(--main-width) * 0.005);
}

/* 一致 */
.best{
  background-color: rgb(216, 242, 85);
}

/* オク違い */
.good{
  background-color: rgb(255, 255, 128);
}
/* テーブルまわりの設定 ここまで */

/* フッター */
#footer{
  font-size: calc(var(--main-width) * 0.015)
}

#links{
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
  margin: 0.5% auto;
}
#links p{
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
  width: 100%;
  text-align: center; /* テキストのセンタリング */
}
